@inherits LayoutComponentBase

@inject NavigationManager navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <article class="content px-4">
            @if (!TokenAuthenticationStatus.IsAuthenticated && !navigationManager.Uri.EndsWith("/authenticate", StringComparison.OrdinalIgnoreCase))
            {
                navigationManager.NavigateTo("authenticate");
            }
            else
            {
                @Body
            }
        </article>
    </main>
</div>

@code{

}